<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <h3>Item Detail</h3>
      <div>
        <h5>Item name : <%= item.name%></h5>
        <h5>Item price : <%= item.price%></h5>
      </div>
      <a id="deleteBtn" data-id="<%= item._id%>" href="#" class="delete btn"
        >Delete</a
      >
    </div>
  </body>
  <script>
    deleteBtn.onclick = (event) => {
      event.preventDefault();
      const id = deleteBtn.dataset.id;
      const endpoint = `/item/${id}`;
      fetch(endpoint, { method: "DELETE" })
        .then((res) => res.json())
        .then((data) => {
          window.location.href = data.redirect;
        })
        .catch((error) => console.log(error));
    };
  </script>
</html>
